* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #395165;
}

@font-face {
    font-family: 'Italianno';
    src: url('./assets/fonts/Italianno-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KiwiMaruRegular';
    src: url('./assets/fonts/KiwiMaru-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KiwiMaruMedium';
    src: url('./assets/fonts/KiwiMaru-Medium.ttf') format('truetype');
}
